In [1]:
import pandas as pd

pokey = pd.read_csv('Pokemon.csv')

pokey.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [2]:
print(pokey['Name'][:6])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [3]:
##print(pokey[['Name', 'Type 1']][:4])
##accessing using rows and column indeces/row first col second
#pokey.iloc[4,1]
#for index,row in pokey.iterrows():
 #   print(index,row[['Name','Type 1']])
#pokey.loc[0,['Name', 'Type 2']]
#pokey.loc[pokey['Legendary']== True]
#pokey.sort_values(['Type 1','Attack'], ascending=[1,0])

#MAKING CHANGES TO THE DATA

In [4]:
#pokey = pokey.drop(columns = ['Total'])
#pokey
#pokey['Total'] = pokey.iloc[:, 4:10].sum(axis=1)
#cols = list(pokey.columns)
#pokey = pokey[cols[0:4] + [cols[-1]] + cols[4:12]]
pokey.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [24]:
#pokey.to_excel('modified.xlsx', index = False)
#pokey.to_csv('modified.txt', index = False, sep='\t')
pokey.to_csv('modified.csv', index = False)

filtering data

In [23]:
#pokey.loc[(pokey['Type 1']=='Fire')&(pokey['Type 2'] == 'Flying')]
#pokey.loc[pokey["Name"].str.contains('Mega')]
import re
pokey.loc[pokey["Name"].str.contains('^pi[a-z]',flags = re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

#conditional Changes

In [37]:
#pokey.loc[pokey['Type 1'] == 'Flame','Type 2'] = 'Dragon'
#pokey.loc[pokey['Total'] > 600,['Generation','Legendary']] = ['ultra',True]

pokey.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#aggregate(group by)

In [60]:
#pokey = pd.read_csv('modified.csv')
#print(pokey.dtypes)
#pokey.groupby(['Type 1']).mean(numeric_only = True).sort_values(['Attack'], ascending = False)
new_df = pd.DataFrame(columns = pokey.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()

    new_df = pd.concat([new_df, results])

print(new_df)

         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy    1    1    NaN      0     1  1      1       1       1       1     1
Flying   2    2    NaN      2     2  2      2       2       2       2     2
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Rock     2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fairy            1         1
Flying           2         2
Fire             1         1
Psychic          2         2
Rock             2         2

[433 rows x 13 columns]